<div id="about-text1" class="grey p-5 mb-5 mr-5">
 Most of our visitors do not need our trainings, because they can't be taught.
    However, they are solvent, and it is the main reason why these trainings are held.
</div>
<p id="about-text2">Our training center is the best in the world!</p>
<br>
<p id="about-text3">Fill out the form, and our manager will contact you. Dare you not to fill it out or fill it out in a wrong way.</p>
<script>
    $(".hov[href='/about']").css('color', '#ffffff');
</script>
<script src="/js/about.js"></script>