<img src="<%=image %>" alt="">
<h1 id="home-header" class="mt-5 mb-2 lang">
    Enjoy the services of our training center!</h1>
<p id="home-text" class="lang">
    Who doesn't want to enjoy - your bad! We'll find you wherever you are
    and we'll prove to you and your potential employers that you know nothing!</p>
<script>
    $(".hov[href='/home']").css('color', '#ffffff');
</script>
<script src="/js/home.js"></script>