<div class="layout-sidebar">
    <main><%- body %></main>
    <side><div id="application" class="container shadow-lg p-3 mb-5 bg-white rounded">
            <h3 id="form-title" class="apply-header">Application Form</h3>
            <div id="success" class="alert alert-success" role="alert" style="display: none;">
            </div>
            <form id="formApplication" class="form-application" action="/admin/post" method="POST" onsubmit="return checkInput();">
                <div class="my-form-control">
                    <label id="form-input1">First name</label>
                    <input type="text" name="firstName" id="firstName">
                    <i class="fas fa-check-circle"></i>
                    <i class="fas fa-exclamation-circle"></i>
                    <small>Error message</small>
                </div>
                <div class="my-form-control">
                    <label id="form-input2">Surname</label>
                    <input type="text" name="surname" id="surname">
                    <i class="fas fa-check-circle"></i>
                    <i class="fas fa-exclamation-circle"></i>
                    <small>Error message</small>
                </div>
                <div class="my-form-control">
                    <label id="form-input3">Email</label>
                    <input type="email" placeholder="lalala@gmail.com" name="mail" id="mail">
                    <i class="fas fa-check-circle"></i>
                    <i class="fas fa-exclamation-circle"></i>
                    <small>Error message</small>
                </div>
                <div class="my-form-control">
                    <label id="form-input4">Phone</label>
                    <input type="text" placeholder="+38(xxx)xxxxxxx" name="phoneNum" id="phoneNum">
                    <i class="fas fa-check-circle"></i>
                    <i class="fas fa-exclamation-circle"></i>
                    <small>Error message</small>
                </div>
                <div class="my-form-control">
                    <label id="form-input5">Text</label>
                    <textarea type="text" placeholder="Text..." name="applicText" id="applicText"></textarea>
                    <i class="fas fa-check-circle"></i>
                    <i class="fas fa-exclamation-circle"></i>
                    <small>Error message</small>
                </div>
                <div class="my-button">
                    <button id="form-button" type="submit" onclick="show_alert(<%- emailVerify %>);" class="btn btn-success btn-lg btn-block">Apply</button>
                </div>
            </form>
        </div>
    </side>
</div>

<script>

    function show_alert(emailVerify) {
        if(checkInput() && emailVerify){
            $("#success").text("Well done! Email verification was sent to you!");
            $("#success").show();
        }
        else if(checkInput() && !emailVerify){
            $("#success").text("Well done! Our manager will contact you!");
            $("#success").show();
        }
    }

    const formApplication = document.getElementById('formApplication');
    const firstName = document.getElementById('firstName');
    const surname = document.getElementById('surname');
    const mail = document.getElementById('mail');
    const phoneNum = document.getElementById('phoneNum');
    const applicText = document.getElementById('applicText');

    function checkInput(){
        const firstnameValue = firstName.value.trim();
        const surnameValue = surname.value.trim();
        const mailValue = mail.value.trim();
        const phoneNumValue = phoneNum.value.trim();
        const applicTextValue = applicText.value.trim();
        let isGood = true;

        if(firstnameValue === ''){
            setErrorFor(firstName, "First name cannot be blank");
            isGood = false;
        }else{
            setSuccessFor(firstName);
        }

        if(surnameValue === ''){
            setErrorFor(surname, "Surname cannot be blank");
            isGood = false;
        }else{
            setSuccessFor(surname);
        }

        if(mailValue === '') {
            setErrorFor(mail, 'Email cannot be blank');
            isGood = false;
        } else if (!isEmail(mailValue)) {
            setErrorFor(mail, 'Not a valid email');
            isGood = false;
        } else {
            setSuccessFor(mail);
        }

        if(phoneNumValue === ''){
            setErrorFor(phoneNum, "Phone cannot be blank");
            isGood = false;
        }else if (!isPhone(phoneNumValue)) {
            setErrorFor(phoneNum, 'Not a valid phone number');
            isGood = false;
        }else{
            setSuccessFor(phoneNum);
        }

        if(applicTextValue === '') {
            setErrorFor(applicText, 'Text cannot be blank');
            isGood = false;
        } else {
            setSuccessFor(applicText);
        }

        return isGood;
    }

    function setErrorFor(input, message) {
        const formControl = input.parentElement;
        const small = formControl.querySelector('small');
        formControl.className = 'my-form-control error';
        small.innerText = message;
    }

    function setSuccessFor(input) {
        const formControl = input.parentElement;
        formControl.className = 'my-form-control success';
    }

    function isEmail(email) {
        return /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/.test(email);
    }

    function isPhone(phone) {
        return /^[+][3][8][(]\d{3}[)]\d{7}$/.test(phone);
    }
</script>
<script src="/js/form.js"></script>